{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock %}

{% block content %}

    <h1>Liste des articles</h1>
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{{ path('posts.show', {id: post.id}) }}">{{ post.title }}</a></td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.createdAt|date('d/m/Y') }}</td>
                    <td>{{ post.updatedAt|date('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}