{% extends 'base.html.twig' %}

{% block title %}
    Liste des clients
{% endblock %}

{% block content %}

    <h1>Liste des clients</h1>
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Référence client</th>
                <th>Nom du client</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Code postal</th>
                <th>Téléphone</th>
                <th>Commercial</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td><a href="{{ path('customers.show', {id: customer.customerNumber}) }}">{{ customer.customerNumber }}</a></td>
                    <td>{{ customer.customerName }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.country }}</td>
                    <td>{{ customer.postalCode }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}