<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ path('home') }}">Symfony</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('posts.index') }}">Liste des articles</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('posts.create') }}">Nouvel article</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('customers.index') }}">Liste des clients</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main class="container">
            {# Bloc dont le contenu est dynamique et sera redéfini sur les différents templates #}
            {% block content %}{% endblock %}
        </main>
        
        <footer>Footer présent sur tous les templates qui héritent de ce layout</footer>
    </body>
</html>
